* {
    margin:0;
    padding:0;
    box-sizing: border-box; /* width/height = content + border + padding + margin */
    font-family: 'Lato', sans-serif;
}

html{
    height:100%;
}
body {
    height:100%;
    background-color: #1A1335;
}

.wrapper {
    min-height: 100%;
}
header {
    width: 100%;
    background: white;
    text-align: center;
    padding: 20px;
}


.scoreBoard{
    margin: 40px auto;
    border:3px solid white;
    border-radius: 4px;
    width: 200px;
    text-align: center;
    color:white;
    font-size: 40px;
    padding-right:15px 20px;
    position: relative;
}

.entity{
    display: flex;
    background:#FF3D46;
    color: white;   
    font-size: 14px;
    padding: 2px 14px;
}

#user {
    position: absolute;
    top: 15px;
    left: -20px;
}

#comp {
    position: absolute;
    top: 15px;
    right: -20px;
}

.result {
    margin:30px 0;
    color:white;
    text-align: center;
    font-size: 30px;
}

.choices{
    display: flex;
    justify-content: center;
}

.choice{
    margin: 20px;
    border: 3px solid white;
    border-radius: 50%;
    padding: 10px;
    transition: background-color 0.3s ease;
}

img{   
    width: 60px;
    height: 60px;
}

.choice:hover{
    cursor: pointer;
    background-color: darkcyan;
}

#actionMessage {
    text-align: center;
    color:white;
    font-size: 20px;
}


footer {
    position: absolute;
    bottom: 0;
    background: #292147;
    width: 100%;
}

footer p {
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 12px;
    letter-spacing: 1px;
}

footer a:link {
    color: white;
}